* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px;
    min-height: 400px;
    max-width: 300px;
    flex-grow: 1;
}

.container .box:hover {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #d57e7e, #ffffff);
}

.box h1 {
    border-radius: 50%;
    background-color: #fbeded;
    width: 20%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    min-height: 50px;
    align-items: center;
}

.box h1 i,
.box h3 {
    color: #b52521;
}

.box h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: .5em;
}

.box .price {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .5em;
    margin: .5em 0;
}

.box .price small {
    font-size: 1rem;
    font-weight: 500;
}

.box .price small span {
    font-size: .8rem;
}

.box ul li i {
    color: #61c6a1;
    margin-right: 1em;
    font-size: 1rem;
    margin-top: .5em;
}

.box span img {
    width: 4%;
    margin-left: .2em;
}

.active {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #d57e7e, #ffffff);
}